.card {
  position: relative;
  text-align: center;
  opacity: 0.5;
  color: white;
}


.Image_text {
  position: absolute;
  color:white !important;
  font-size: 50px !important;
  margin-top: 15px !important;
  font-weight: 800 !important;
  margin-left: 10px !important;
  justify-items:right;
}
